
html {
scroll-behavior: smooth;
}

#body {
  background-color: #2a292a;
  max-width: 100%;
}
.bck {
  background-color: #333333;

}
#div  {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -20px;
}


.log {
  margin: auto;
  margin-top: 200px;
}
nav{
  margin: 27px auto 0;
  position: relative;
  width: 100%;
  height: 50px;
  background-color: #333333;
  border-radius: 8px;
  font-size: 0;
  display: flex;
  justify-content: center;
  margin-top: -1px;
}


nav a {
  line-height: 50px;
  height: 100%;
  font-size: 15px;
  display: inline-block;
  position: relative;
  z-index: 1;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: white;
  cursor: pointer;
}

a:nth-child(1) {
  width: 100px;
}

a:nth-child(2) {
  width: 110px;
}

a:nth-child(3) {
  width: 100px;
}

a:nth-child(4) {
  width: 120px;
}

a:nth-child(5) {
  width: 120px;
}



*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


.login {
  margin-top: 8px;
  margin-right: 5px;
  background-color: #11403c;
  color: white;
  padding: 15px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
}



.wrapper{
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form{
  width: 425px;
  height: auto;
  background: #2a292a;
  padding: 35px 50px;
  border-radius: 20px;
}

.form .title{
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 24px;
  color: #fff;
}

.form .input_wrap{
  margin-bottom: 20px;
  width: 325px;
  position: relative;

}

.form .input_wrap:last-child{
  margin-bottom: 0;
}

.form .input_wrap label{
  display: block;
  margin-bottom: 5px;
  color: #fff;
}

.form .input_wrap input{
  padding: 15px;
  width: 100%;
  border: 1px solid transparent;
  font-size: 16px;
  border-radius: 3px;
  color: #fff;
}

.form .input_wrap .input{
  background: #3F4E4F;
  padding-right: 35px;
}


.form .input_wrap .input:focus{
  border-color: #ffffff;
}

.form .input_wrap .input_field{
  position: relative;
}

.form .input_wrap .btn{
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #fff;
}

.form .input_wrap .btn.disabled{
  background: #3F4E4F;
}

.form .input_wrap .btn.enabled{
  background: #333333;
  cursor: pointer;
}

.form .input_wrap .error_msg{
  font-size: 15px;
  margin-bottom: 5px; 
  color: #512cd6;
  display: none;
}

#frame {
  margin: auto;
  margin-top: 60px;
  width: 900px;
  height: 500px;
  vertical-align: middle;
}
  
#frame input[type=radio] {
  display: none;
}
  
#frame label {
  cursor: pointer;
  text-decoration: none;
}
  
#slides { 
  padding: 15px;
  position: relative;
  z-index: 1;
}
  
#overflow {
  width: 100%;
  overflow: hidden;
}
  
#frame1:checked~#slides .inner {
  margin-left: 0;
}
  
#frame2:checked~#slides .inner {
  margin-left: -100%;
}
  
#frame3:checked~#slides .inner {
  margin-left: -200%;
}
  
#frame4:checked~#slides .inner {
   margin-left: -300%;
}
  
#slides .inner {
  transition: margin-left 800ms 
  cubic-bezier(0.770, 0.000, 0.175, 1.000);
  width: 400%;
  line-height: 0;
  height: 600px;
}
  
#slides .frame {
  width: 25%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #FFF;
}
  
#slides .frame_1 {
  border-radius: 20px;
  background: url(mk.jpg);

}
  
#slides .frame_2 {
  border-radius: 20px;
  background: url("2.jpg");
}
  
#slides .frame_3 {
  border-radius: 20px;
  background-image: url("dig.png");
}
  
#slides .frame_4 {
  border-radius: 20px;
  background-image: url("cm.jpg");
}
  
#controls {
  margin: -180px 0 0 0;
  width: 100%;
  height: 50px;
  z-index: 3;
  position: relative;
}
  
#controls label {
  transition: opacity 0.2s ease-out;
  display: none;
  width: 50px;
  height: 50px;
  opacity: .4;
}
  
#controls label:hover {
  opacity: 1;
}
  
#bullets {
  margin: 150px 0 0;
  text-align: center;
}
  
#bullets label {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #fff;
  margin: 0 10px;
}
  
#frame1:checked~#bullets label:nth-child(1),
#frame2:checked~#bullets label:nth-child(2),
#frame3:checked~#bullets label:nth-child(3),
#frame4:checked~#bullets label:nth-child(4) {
    background: #444;
}
  
@media screen and (max-width: 1000px) {
  #frame1:checked~#controls label:nth-child(2),
  #frame2:checked~#controls label:nth-child(3),
  #frame3:checked~#controls label:nth-child(4),
  #frame4:checked~#controls label:nth-child(1),
  #frame1:checked~#controls label:nth-last-child(2),
  #frame2:checked~#controls label:nth-last-child(3),
  #frame3:checked~#controls label:nth-last-child(4),
  #frame4:checked~#controls label:nth-last-child(1) {
    margin: 0;
    }
    #slides {
      max-width: calc(100% - 140px);
      margin: 0 auto;
    }
}

hr {
  margin-top: 200px;
  height: 80px;
  background-color: #333333;
  border: none;
}

#p1 {
  text-align: center;
  line-height: 35px;
  font-size: 23px;
  color: white;
  font-family: times-new-roman;
  width: auto;
  margin-bottom: 30px;
}

#body1 {
  background-color: #2a292a;
}

#about {
  margin-top: 150px;
}

#fieldset {
  width: 1000px;
  height: 400px;
  margin: auto;
  border-radius: 20px;
  background-color: #333333 ;
}

#aag {
  float: left;
  border-radius: 15px;
  margin-top: 50px;
  margin-bottom: 15px;
  margin-left: 30px;
}

#title {
  color: white;
  font-size: 35px;
  font-family: "Arial Hebrew";
  text-align: center;
  margin-top: 20px;
}

#p2 {
  font-size: 15px;
  word-spacing: 3px;
  margin-top: 10px;
  padding: 20px;
  font-family: Arial;
  text-align: center;
  color: white;
}

#ci {
  font-size: 13px;
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.container {
  width: 100%;
  height: 100vh;
  padding: 0 8%;
}

.container h1 {
  text-align: center;
  padding-top: 10%;
  margin-bottom: 60px;
  font-weight: 600;
  position: relative;
}
.container h1 {
  color: #FFFFFF;
}
.container h1::after {
  content: '';
  background: #fff;
  width: 100px;
  height: 5px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}

.row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
  color: #FFFFFF;
}

.Services {
  text-align: center;
  padding: 25px 10px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  background: transparent;
  transition: transform 0.5s, background 0.5s;
}

.Services i {
  font-size: 25px;
  margin-bottom: 10px;
  color: #FFFFFF;
}


.Services h2 {
  font-weight: 600;
  margin-bottom: 8px;
}

.Services:hover {
  background: #fff;
  color: #000;
  transform: scale(1.05);
}

.Services:hover i {
  color: #000000;
}

#services {
  background-color: #2a292a;
}


